@font-color-main: #222;
@font-color-second: #999;

@color-main: #3e54ac;
@color-primary: #3e54ac;
@color-white: #fff;
@color-red: #eb2f06;
@color-blue: #409eff;
@color-green: #42b983;
@color-gray: #b2bec3;
@color-yellow: #f9ca24;
// @color-yellow:
